html, body {
    color: #555;
    background: #F7F7F7;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em !important;
}

div.chapter {
  	width: 100%;
	font-size: 14px;
	display: none;
}

h1 {
	background-color: #9FF25D;
	color: #444;
	font-size: 16px;
	padding: 4px;
}

h1 + p {
	border: 0px;
	margin: 0px;
}

p {
	border-top: 1px solid #777;
	margin: 0px;
}

div#content table {
	width: 100%;
}

#logo {
	position: relative;
    height: 70px;
    background: #444;
    background:  -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
    background:  -moz-linear-gradient(top, #555, #333);
    background:  gradient(linear, left top, left bottom, from(#555), to(#333));
}

#logo a {
    background: url(../images/logo.png) no-repeat 50% 50%;
    display: block;
    height: 50px;
    left: 10px;
    position: absolute;
    text-indent: -99em;
    top: 10px;
    width: 140px;
}

#logo span {
	position: absolute;
	right: 10px;
	bottom: 10px;
	//color: #fff;
	//font-size: 10px;
    color: #B3E862;
    color: #999;
    text-shadow: #000 -1px -1px 0px;
    text-decoration: none;
    font-size: 15px;
}	
