<div class="repoInfo">
    %{
        def repo = _info.value
        def owner = _user?.email == repo.author.email
    }%
    #{if repo.visible || owner || _isAdmin}
        #{a @CheatSheet.show(repo.author.name, repo.githubUser, repo.repoName)}${repo.title}#{/a}
        #{if _info.value.author}(${repo.author.name})#{/if}
        #{if _user?.email == repo.author.email}
         - #{a @CheatSheet.delete(repo.githubUser, repo.repoName)}delete#{/a} or 
         #{a @CheatSheet.edit(repo.githubUser, repo.repoName)}edit#{/a}
        #{/if}
    #{/if}
</div>